### 데이터 불러오기

In [153]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

In [120]:
DATAPATH = '/home/wagyu0923/project/commuting_happiness/data/2024 서울서베이 가구원_data_코드북.xlsx'
excel_data = pd.read_excel(DATAPATH, sheet_name = 0)

### 데이터 전처리

In [134]:
# 사용할 변수들만 걸러내기
using_cols = [# 핵심 변수
    'Q34',      # 지난 2주간 스트레스
    'Q20',      # 통근/통학 여부
    'Q20C1',     # 통근/통학 시간_시간
    'Q20C2',     # 통근/통학 시간_분

    #  통제변수 - 개인 특성
    'SQ1_2',     # 성별
    'SQ1_3',     # 출생연도 
    'SQ1_4',     # 혼인상태
    'SQ1_7',     # 등록장애인 여부

    # 통제변수 - 가구/소득
    'FAM1',      # 전체가구원수
    'AQ1',       # 월평균 가구소득

    # 통제변수 - 교육/직업/노동
    'DQ1',       # 학력
    'DQ3A',      # 고용형태
    'DQ3B1',     # 주당 평균 근로시간_시간
    'DQ3B2',     # 주당 평균 근로시간_분

    # 통제변수 - 주거/지역
    'GU',        # 거주지 구코드
    'SQ0_2',     # 주택형태
    'SQ0_3',     # 주거점유형태
]

raw_df = excel_data.copy()[using_cols]

In [137]:
rename_dict = {
    'Q34': 'Stress_Level',           
    'Q20': 'Commute_Status',           
    'Q20C1': 'Commute_Hour',        
    'Q20C2': 'Commute_Min',           
    'SQ1_2': 'Gender',                 
    'SQ1_3': 'Birth_Year',            
    'SQ1_4': 'Marital_Status',        
    'SQ1_7': 'Disabled_Reg',          
    'FAM1': 'Household_Size',         
    'AQ1': 'Household_Income',         
    'DQ1': 'Education',                            
    'DQ3A': 'Employment_Type',         
    'DQ3B1': 'Work_Hours_Week',        
    'DQ3B2': 'Work_Mins_Week',               
    'GU': 'District_Code',             
    'SQ0_2': 'House_Type',            
    'SQ0_3': 'House_Occupancy',         
}

raw_df = raw_df.rename(columns=rename_dict)

In [147]:
print('결측치 제거 전 행 수:' ,len(raw_df))
mid_df = raw_df.copy().dropna()
print('결측치 제거 후 행 수:' ,len(mid_df))

# 시간 단위로 변환
mid_df['Commute_Time'] = (mid_df['Commute_Hour']*60 + mid_df['Commute_Min'])/60
mid_df['Work_Time'] = (mid_df['Work_Hours_Week']*60 + mid_df['Work_Mins_Week'])/60

# 출생년도로부터 나이 도출
mid_df['Age'] = 2024 - mid_df['Birth_Year']

# 남성 0, 여성 1로 변경
mid_df[['Gender', 'Disabled_Reg']] = mid_df[['Gender','Disabled_Reg']].replace({1: 0, 2: 1})

# 자가 소유 외의 주거 점유 형태를 0으로 통일 
mid_df['House_Occupancy'] = mid_df['House_Occupancy'].replace({1 : 1, 2 : 0, 3 : 0, 4 : 0, 5 : 0, 6 : 0 })

결측치 제거 전 행 수: 36280
결측치 제거 후 행 수: 24707

In [148]:
not_use_anymore = ['Commute_Status', 'Commute_Hour','Commute_Min', 'Birth_Year', 'Work_Hours_Week', 'Work_Mins_Week']
later_df = mid_df.copy().drop(columns = not_use_anymore)

In [ ]:
# 연속형 변수 중심화
cols_to_cent = ['Household_Income','Commute_Time','Work_Time', 'Age']
df_final = later_df.copy()
for col in cols_to_cent:
    mean = later_df[col].mean()
    df_final[col] = later_df[col]-mean

In [150]:
df_final.describe()

,Stress_Level,Gender,Marital_Status,Disabled_Reg,Household_Size,Household_Income,Education,Employment_Type,District_Code,House_Type,House_Occupancy,Commute_Time,Work_Time,Age
count,24707.000000,24707.000000,24707.000000,24707.000000,24707.000000,2.470700e+04,24707.000000,24707.000000,24707.000000,24707.000000,24707.000000,2.470700e+04,2.470700e+04,2.470700e+04
mean,3.135103,0.419031,1.589630,0.995062,2.394908,-1.030714e-15,5.139717,2.008419,436.216457,2.201522,0.510786,5.492924e-17,3.128953e-16,-9.018748e-16
std,0.911511,0.493410,1.024872,0.070098,0.996267,4.264721e+00,0.972954,1.779793,179.973640,0.935109,0.499894,2.939545e-01,7.943407e+00,1.332135e+01
min,1.000000,0.000000,1.000000,0.000000,1.000000,-1.099980e+01,1.000000,1.000000,110.000000,1.000000,0.000000,-5.417392e-01,-4.049884e+01,-3.010580e+01
25%,2.000000,0.000000,1.000000,1.000000,2.000000,-2.999798e+00,4.000000,1.000000,290.000000,2.000000,0.000000,-2.250725e-01,-2.498838e+00,-1.210580e+01
50%,3.000000,0.000000,1.000000,1.000000,2.000000,2.023718e-04,5.000000,1.000000,440.000000,2.000000,1.000000,-5.840585e-02,-2.498838e+00,-1.058000e-01
75%,4.000000,1.000000,2.000000,1.000000,3.000000,3.000202e+00,6.000000,2.000000,590.000000,3.000000,1.000000,1.082608e-01,2.501162e+00,1.089420e+01
max,5.000000,1.000000,5.000000,1.000000,8.000000,9.000202e+00,7.000000,7.000000,740.000000,4.000000,1.000000,1.941594e+00,1.245012e+02,4.089420e+01

### 매칭 전 결과

In [160]:
model = smf.ols(
    "Stress_Level ~ Gender + C(Marital_Status) + Disabled_Reg + Household_Size + Household_Income + Education + C(Employment_Type)+ C(District_Code) +  C(House_Type) + House_Occupancy +Commute_Time + Commute_Time:House_Occupancy + Work_Time + Age",
    data = df_final
).fit(cov_type='cluster', cov_kwds={'groups': df_final['District_Code']})
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Stress_Level   R-squared:                       0.048
Model:                            OLS   Adj. R-squared:                  0.046
Method:                 Least Squares   F-statistic:                     866.1
Date:                Sat, 06 Dec 2025   Prob (F-statistic):           8.57e-30
Time:                        16:43:00   Log-Likelihood:                -32163.
No. Observations:               24707   AIC:                         6.442e+04
Df Residuals:                   24659   BIC:                         6.481e+04
Df Model:                          47
Covariance Type:              cluster
================================================================================================
                                   coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
Intercept                        3.5238      0.154     22.914      0.000       3.222       3.825
C(Marital_Status)[T.2]          -0.0341      0.036     -0.934      0.350      -0.105       0.037
C(Marital_Status)[T.3]           0.1495      0.036      4.106      0.000       0.078       0.221
C(Marital_Status)[T.4]           0.0475      0.081      0.584      0.559      -0.112       0.207
C(Marital_Status)[T.5]           0.0193      0.056      0.343      0.731      -0.091       0.129
C(Employment_Type)[T.2.0]       -0.0189      0.034     -0.556      0.578      -0.085       0.048
C(Employment_Type)[T.3.0]        0.0241      0.066      0.365      0.715      -0.105       0.154
C(Employment_Type)[T.4.0]        0.0820      0.063      1.304      0.192      -0.041       0.205
C(Employment_Type)[T.5.0]        0.1368      0.052      2.619      0.009       0.034       0.239
C(Employment_Type)[T.6.0]        0.0004      0.050      0.008      0.994      -0.097       0.098
C(Employment_Type)[T.7.0]        0.0581      0.083      0.701      0.484      -0.104       0.221
C(District_Code)[T.140]         -0.3878      0.011    -36.575      0.000      -0.409      -0.367
C(District_Code)[T.170]         -0.1716      0.008    -22.674      0.000      -0.186      -0.157
C(District_Code)[T.200]         -0.1107      0.011    -10.229      0.000      -0.132      -0.090
C(District_Code)[T.215]         -0.0054      0.008     -0.641      0.522      -0.022       0.011
C(District_Code)[T.230]         -0.3426      0.011    -31.055      0.000      -0.364      -0.321
C(District_Code)[T.260]         -0.2737      0.009    -30.387      0.000      -0.291      -0.256
C(District_Code)[T.290]         -0.1100      0.007    -15.242      0.000      -0.124      -0.096
C(District_Code)[T.305]         -0.1197      0.007    -16.991      0.000      -0.134      -0.106
C(District_Code)[T.320]         -0.1767      0.012    -14.997      0.000      -0.200      -0.154
C(District_Code)[T.350]         -0.4594      0.016    -29.392      0.000      -0.490      -0.429
C(District_Code)[T.380]         -0.0307      0.010     -3.029      0.002      -0.051      -0.011
C(District_Code)[T.410]         -0.0576      0.009     -6.477      0.000      -0.075      -0.040
C(District_Code)[T.440]         -0.3542      0.008    -41.993      0.000      -0.371      -0.338
C(District_Code)[T.470]         -0.6541      0.015    -43.049      0.000      -0.684      -0.624
C(District_Code)[T.500]         -0.0998      0.014     -7.197      0.000      -0.127      -0.073
C(District_Code)[T.530]         -0.0543      0.012     -4.405      0.000      -0.078      -0.030
C(District_Code)[T.545]         -0.4645      0.016    -28.333      0.000      -0.497      -0.432
C(District_Code)[T.560]         -0.5021      0.010    -52.352      0.000      -0.521      -0.483
C(District_Code)[T.590]         -0.2610      0.010    -25.946      0.000      -0.281      -0.241
C(District_Code)[T.620]         -0.2290      0.006    -41.464      0.000      -0.240      -0.218
C(District_Code)[T.650]          0.0299      0.013      2.237      0.025       0.004       0.056
C(District_Code)[T.680]         -0.3870      0.015    -25.468      0.000      -0.417      -0.357
C(District_Code)[T.710]         -0.1460      0.009    -15.670      0.000      -0.164      -0.128
C(District_Code)[T.740]         -0.2247      0.012    -18.301      0.000      -0.249      -0.201
C(House_Type)[T.2]              -0.0139      0.040     -0.348      0.727      -0.092       0.064
C(House_Type)[T.3]               0.0218      0.023      0.927      0.354      -0.024       0.068
C(House_Type)[T.4]              -0.0092      0.041     -0.227      0.820      -0.089       0.070
Gender                          -0.0159      0.014     -1.128      0.259      -0.043       0.012
Disabled_Reg                     0.0516      0.079      0.654      0.513      -0.103       0.206
Household_Size                   0.0287      0.020      1.403      0.161      -0.011       0.069
Household_Income                -0.0006      0.005     -0.114      0.909      -0.011       0.010
Education                       -0.0568      0.020     -2.854      0.004      -0.096      -0.018
House_Occupancy                 -0.0003      0.031     -0.009      0.993      -0.061       0.060
Commute_Time                     0.2891      0.083      3.466      0.001       0.126       0.453
Commute_Time:House_Occupancy    -0.1858      0.066     -2.794      0.005      -0.316      -0.055
Work_Time                        0.0037      0.002      1.719      0.086      -0.001       0.008
Age                             -0.0032      0.002     -1.856      0.064      -0.007       0.000
==============================================================================
Omnibus:                     1499.166   Durbin-Watson:                   1.368
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              644.687
Skew:                          -0.173   Prob(JB):                    1.02e-140
Kurtosis:                       2.289   Cond. No.                         466.
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)

/home/wagyu0923/miniconda3/envs/commuting/lib/python3.11/site-packages/statsmodels/base/model.py:1894: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 47, but rank is 23
  warnings.warn('covariance of constraints does not have full '

### 매칭

In [187]:
def smd(x_treat, x_control):
    mu_t = np.mean(x_treat)
    mu_c = np.mean(x_control)
    sd_t = np.std(x_treat, ddof = 1)
    sd_c = np.std(x_control, ddof = 1)
    pooled_sd = np.sqrt((sd_t**2 + sd_c**2) / 2)
    return (mu_t - mu_c) / pooled_sd if pooled_sd > 0 else 0

def compute_balance(df, num_vars, cat_vars,treat_col = 'House_Occupancy'):
    treated = df[df[treat_col]==1].copy()
    control = df[df[treat_col]==0].copy()

    rows = []
    for num_var in num_vars:
        smd_val = smd(treated[num_var], control[num_var])
        rows.append([
            num_var,
            treated[num_var].mean(),
            control[num_var].mean(),
            smd_val
        ])

    for cat_var in cat_vars:
        categories = df[cat_var].unique()
        for cat in categories:
            t_binary = (treated[cat_var] == cat).astype(int)
            c_binary = (control[cat_var] == cat).astype(int)
            smd_val = smd(t_binary, c_binary)
            
            rows.append([
                f"{cat_var}_{cat}",
                t_binary.mean(),
                c_binary.mean(),
                smd_val
            ]
            )

    return pd.DataFrame(rows, columns = ["variable", "mean_treat", 'mean_control', 'SMD'])

In [188]:
# 매칭 전 SMD 값
num_vars = ['Stress_Level', 'Gender', 'Disabled_Reg', 'Household_Size', 'Household_Income','Education', 'Commute_Time', 'Work_Time','Age']
cat_vars = ['Marital_Status', 'Employment_Type', 'District_Code', 'House_Type']
smd_output = compute_balance(df_final, num_vars, cat_vars)
smd_output

               variable  mean_treat  mean_control       SMD
0          Stress_Level    3.125911      3.144701 -0.020612
1                Gender    0.387559      0.451890 -0.130626
2          Disabled_Reg    0.994929      0.995201 -0.003892
3        Household_Size    2.627100      2.152478  0.490239
4      Household_Income    0.826589     -0.863039  0.404744
5             Education    5.005864      5.279474 -0.284402
6          Commute_Time   -0.005710      0.005962 -0.039744
7             Work_Time    0.218478     -0.228112  0.056359
8                   Age    5.005610     -5.226343  0.832555
9      Marital_Status_2    0.159509      0.274262 -0.281170
10     Marital_Status_1    0.713629      0.589063  0.263646
11     Marital_Status_3    0.059746      0.085216 -0.098344
12     Marital_Status_5    0.060380      0.041615  0.085374
13     Marital_Status_4    0.006735      0.009845 -0.034302
14  Employment_Type_1.0    0.574960      0.773807 -0.434205
15  Employment_Type_6.0    0.151189      0.058658  0.305427
16  Employment_Type_5.0    0.087163      0.030280  0.243728
17  Employment_Type_2.0    0.148019      0.102755  0.136999
18  Employment_Type_7.0    0.013074      0.003888  0.100293
19  Employment_Type_4.0    0.008241      0.007777  0.005205
20  Employment_Type_3.0    0.017353      0.022834 -0.039066
21    District_Code_110    0.024881      0.018119  0.046635
22    District_Code_140    0.021553      0.020104  0.010145
23    District_Code_170    0.027417      0.028709 -0.007821
24    District_Code_200    0.032964      0.041698 -0.046084
25    District_Code_215    0.033122      0.048978 -0.079979
26    District_Code_230    0.031141      0.043352 -0.064516
27    District_Code_260    0.041759      0.045172 -0.016740
28    District_Code_290    0.049287      0.050219 -0.004288
29    District_Code_305    0.037084      0.037809 -0.003820
30    District_Code_320    0.043899      0.028957  0.079813
31    District_Code_350    0.058796      0.042773  0.073021
32    District_Code_380    0.046910      0.042111  0.023268
33    District_Code_410    0.042710      0.042608  0.000506
34    District_Code_440    0.045087      0.048068 -0.014146
35    District_Code_470    0.051823      0.017705  0.187056
36    District_Code_500    0.045642      0.059568 -0.062409
37    District_Code_530    0.042868      0.040539  0.011650
38    District_Code_545    0.031854      0.020932  0.068175
39    District_Code_560    0.036529      0.033342  0.017361
40    District_Code_590    0.043027      0.046579 -0.017170
41    District_Code_620    0.041363      0.046331 -0.024263
42    District_Code_650    0.037480      0.036651  0.004389
43    District_Code_680    0.046830      0.056259 -0.042650
44    District_Code_710    0.052853      0.058244 -0.023541
45    District_Code_740    0.033122      0.045172 -0.062161
46         House_Type_1    0.205388      0.264582 -0.139947
47         House_Type_3    0.196117      0.185819  0.026200
48         House_Type_2    0.505547      0.396459  0.220551
49         House_Type_4    0.092948      0.153140 -0.184006